/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import 'leaflet/dist/leaflet.css';

/* Put ALL Angular Material overlays (datepicker, menu, select, dialog…) above your custom drawers */
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  z-index: 10000 !important; /* higher than .drawer (4000) */
}

/* (optional) keep panes/content above too */
.cdk-overlay-container .cdk-overlay-pane { z-index: 10001 !important; }
.mat-datepicker-content,
.mat-mdc-datepicker-content { z-index: 10002 !important; }



